
@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-size: 16px;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #000;
}

.circle {
  position: relative;
  border:1px solid gray;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #008000;
  overflow: hidden;
}
/* .circle.per-25 {
  background-image: conic-gradient(#B5838D 25%, #FFCDB2 0);
}
.circle.per-50 {
  background-image: conic-gradient(#B5838D 50%, #FFCDB2 0);
}
.circle.per-75 {
  background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}
.circle.per-100 {
  background-image: conic-gradient(#B5838D 100%, #FFCDB2 0);
} */
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background:rgb(40, 43, 77);
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

/* Icon container */
.IconContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    

}
.keyhead{
    font-size:2vh;
    margin-left: 4px;
    color: rgb(234, 81, 65);
    font-style: normal;
   
    margin-right: 2px;
    margin-top: 3px;
    text-transform: none;
    font-weight: 700;
    white-space: nowrap; /* Prevents the text from wrapping onto the next line */
    overflow: hidden; /* Hides the overflowed text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) when the text overflows */
    max-width: 200px; /* Adjust this value to suit your needs */
}
.valuehead {
    font-size: 1.8vh;
    color: black;
    font-style: normal;
    font-weight: 700;
    margin-top: 4px;
    margin-left: 2px;
   
    
}
.ParentIconContainer {

    
    padding:0px; text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

/* Mui Tablecell */
.MuiTableCell-root {
    padding: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    
}
.tableheadMain{
    margin-top: 15px;
    
    
  
} 
.tableRow {
    padding:0px;
    
}
.tableCell{
    padding:0px;
   
}

.TableRowDev td {
  border-bottom: 0;
  margin-bottom: 0;
  background-color:rgb(249, 250, 250,0.9) ;
 
 
  
}
@media screen and (min-width: 950px) {
  .TableRowDev td {
    border-radius: 0px;
    /* border-left: 2px solid #F9FAFA lightblue ;
    border-right: 2px solid #F9FAFA ; */
   
  
    
  
}
 
}
.TableRowDev td:hover {
  background-color: white;
  border: 1px solid lightblue;
}

@media screen and (max-width:950px) {
   .inRow{
    margin-left: 20%;
    border-bottom: 0px;
   }
  
}
.Detailitemcard{
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
  background-color: rgb(234, 81, 65,0.8);
}

.TableHeaderDev{
  color:rgb(250, 248, 245,4);
  background-color: rgb(255, 255, 255,0);
  padding:2px;
  font-weight:bold;
  font-size: 14;
width:120px;
  margin:auto;
  text-transform:uppercase;
  display: inline-flex;
  flex-direction: row;
  justify-content: center; 
  cursor: pointer;
  
}
