
/* loader style */
@keyframes ldio-4xbc3nc6sx2 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(22.5deg) }
100% { transform: rotate(45deg) }
}
.ldio-4xbc3nc6sx2 > div { transform-origin: 60px 60px; animation: ldio-4xbc3nc6sx2 0.28s infinite linear; -webkit-animation: ldio-4xbc3nc6sx2 0.28s infinite linear;
}
.ldio-4xbc3nc6sx2 > div div {
  position: absolute;
  width: 13.2px;
  height: 91.2px;
  background: #1d252c;
  left: 60px;
  top: 60px;
  transform: translate(-50%,-50%);
}
.ldio-4xbc3nc6sx2 > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.ldio-4xbc3nc6sx2 > div div:nth-child(6) {
  width: 48px;
  height: 48px;
  background: #f9fafa;
  border-radius: 50%;
}.ldio-4xbc3nc6sx2 > div div:nth-child(3) {
transform: translate(-50%,-50%) rotate(45deg)
}.ldio-4xbc3nc6sx2 > div div:nth-child(4) {
transform: translate(-50%,-50%) rotate(90deg)
}.ldio-4xbc3nc6sx2 > div div:nth-child(5) {
transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-y4ot2tj9qw {

width: 120px;
height: 120px;
display: inline-block;
overflow: hidden;
background: #f9fafa;
}
.ldio-4xbc3nc6sx2 {
width: 100%;
height: 100%;

transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-4xbc3nc6sx2 div { box-sizing: content-box; }



.loader-container {
  display: flex; justify-content: center; 
  position: relative;
  background: transparent;
    
}



.spanelement{
    font-weight: bolder;
    

}
.HomepageContainer{
    width: 100%;
    font-family:'Peppins';
    font-style:calc();
    font-size: larger;
   
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.Menulist{
    font-size: 12;
     border-end-end-radius: 0px;
    color: white;
}
.GridHome{
     padding: 4%;
     text-align: left;
     
}
.homepagespan{
    font-weight:bolder;
    color:#1CE783 ;
    font-family: 'Peppins';
}
.GridImage{
    justify-content: center;
    align-items: center;
    padding: 2%;
   
}
.homepagespan1{
    font-weight: bold;
    color: black;
    font-size: medium;
}
/* styles.css */

.shield-container {
    position: relative;
  }
  
  .shield-image {
    width: 50%;
    height: 50%;
    position: relative;
  }
 .toolrequestform{
 
   display: flex;
   text-align:left;
   width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-family: 'Peppins';
    
 }

 /*Tool Request Form*/
/* Assuming your TextField has a class name of 'myTextField' */
.myTextField .MuiOutlinedInput-root {
  border-radius: 0;
 
}

.myTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23); /* default border color */
  }

.myTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color:#00684A; /* default border color */
  /* #1CE783; */
}


/* Register Form */
.registerimage{
  width:80%;
  height:80%;
  padding-top: 4%;
}



 
/* ToolMenu */
.anchor{
  text-decoration: none;
  color:#E7F0F6;
}
/*tool description*/

.tooldescription{
  font-family: 'Peppins';
  font-size: medium;
  font-weight:normal;
  text-align: center;
  padding-bottom: 2%;
  color:#1D252C;

}
.toolhead{
  color:#0065A9;
  font-family: 'Peppins';
  font-size: larger;
  text-align: center;
  padding:1%;
  background-color: #E7F0F6;

  display: inline-flex;
}
.navauth{
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  color: #F9FAFA;
  font-family: 'Peppins';
}
.navbutton{
  color: #F9FAFA;
  border: 1px solid #F9FAFA;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  background-color: #0065A9;
  font-family: 'Peppins';
  height: 5vh;
  width: 5rem;
  
}
.navtoolbuttonmobile{
  color: #F9FAFA;
  border: 1px solid #F9FAFA;
  background-color: #0065A9;
  font-family: 'Peppins';
  height: 5vh;
  width:5rem
}