/* loader style */
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #299fff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* loader style */

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #00684A;
  --second-color: #233d4d;
  --third-color:  #0065A9;
  --fourth-color:  #7bbae3;
  --fifth-color: #00684A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }
/* loader style */
@keyframes ldio-4xbc3nc6sx2 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(22.5deg) }
100% { transform: rotate(45deg) }
}
.ldio-4xbc3nc6sx2 > div { transform-origin: 60px 60px; animation: ldio-4xbc3nc6sx2 0.28s infinite linear; -webkit-animation: ldio-4xbc3nc6sx2 0.28s infinite linear;
}
.ldio-4xbc3nc6sx2 > div div {
  position: absolute;
  width: 13.2px;
  height: 91.2px;
  background: #1d252c;
  left: 60px;
  top: 60px;
  transform: translate(-50%,-50%);
}
.ldio-4xbc3nc6sx2 > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.ldio-4xbc3nc6sx2 > div div:nth-child(6) {
  width: 48px;
  height: 48px;
  background: #f9fafa;
  border-radius: 50%;
}.ldio-4xbc3nc6sx2 > div div:nth-child(3) {
transform: translate(-50%,-50%) rotate(45deg)
}.ldio-4xbc3nc6sx2 > div div:nth-child(4) {
transform: translate(-50%,-50%) rotate(90deg)
}.ldio-4xbc3nc6sx2 > div div:nth-child(5) {
transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-y4ot2tj9qw {

width: 120px;
height: 120px;
display: inline-block;
overflow: hidden;
background: #f9fafa;
}
.ldio-4xbc3nc6sx2 {
width: 100%;
height: 100%;

transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-4xbc3nc6sx2 div { box-sizing: content-box; }



.loader-container {
  display: flex; justify-content: center; 
  position: relative;
  background: transparent;
    
}



.spanelement{
    font-weight: bolder;
    

}
.HomepageContainer{
    width: 100%;
    font-family:'Peppins';
    font-style:calc();
    font-size: larger;
   
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.Menulist{
    font-size: 12;
     border-end-end-radius: 0px;
    color: white;
}
.GridHome{
     padding: 4%;
     text-align: left;
     
}
.homepagespan{
    font-weight:bolder;
    color:#1CE783 ;
    font-family: 'Peppins';
}
.GridImage{
    justify-content: center;
    align-items: center;
    padding: 2%;
   
}
.homepagespan1{
    font-weight: bold;
    color: black;
    font-size: medium;
}
/* styles.css */

.shield-container {
    position: relative;
  }
  
  .shield-image {
    width: 50%;
    height: 50%;
    position: relative;
  }
 .toolrequestform{
 
   display: flex;
   text-align:left;
   width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-family: 'Peppins';
    
 }

 /*Tool Request Form*/
/* Assuming your TextField has a class name of 'myTextField' */

.myTextField .MuiOutlinedInput-root {
  border-radius: 0;
 
}

.myTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23); /* default border color */
  }

.myTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color:rgb(234, 81, 65);; /* default border color */
  /* #1CE783; */
}


/* Register Form */
.registerimage{
  width:80%;
  height:80%;
  padding-top: 4%;
}



 
/* ToolMenu */
.anchor{
  text-decoration: none;
  color:#E7F0F6;
}
/*tool description*/

.tooldescription{
  font-family: 'Peppins';
  font-size: medium;
  font-weight:normal;
  text-align: center;
  padding-bottom: 2%;
  color:#1D252C;

}
.toolhead{
  color:#0065A9;
  font-family: 'Peppins';
  font-size: larger;
  text-align: center;
  padding:1%;
  background-color: #E7F0F6;

  display: inline-flex;
}
.navauth{
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  color: #F9FAFA;
  font-family: 'Peppins';
}
.navbutton{
  color: #F9FAFA;
  border: 1px solid #F9FAFA;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  background-color: #0065A9;
  font-family: 'Peppins';
  height: 5vh;
  width: 5rem;
  cursor: pointer;
  
}
.navtoolbuttonmobile{
  color: #F9FAFA;
  border: 1px solid #F9FAFA;
  background-color: #0065A9;
  font-family: 'Peppins';
  height: 5vh;
  width:5rem
}

/* output Grid contianer */
.outputshow{
  border:#1d252c dotted 0px;
  /* background-color: rgba(17, 84, 146, 0.3) !important; */
  background-color: rgba(35, 61, 77, 0.1) !important;
}

/* form */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

/*form 2 */
/* website performance check form */
.newsletter-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0px;
  background-color: inherit;
  font-family: "Peppins",;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.flexrowclass  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  font-family: 'Peppins';
  font-size: medium;
  font-weight: bold;
  color: #1D252C;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.newsletter-form h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}

.newsletter-form label {
  display: block;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

.newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff6600;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.newsletter-form input[type="submit"]:hover {
  background-color: #ff8533;
}

.webpercheck input {
  text-align: left;
  width: 100%;
  height: 45px;
  padding: 13px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 0px;
  border-right:0px;
  &:focus
{
    outline: none;
    border: 1px solid #0065A9;
    border-radius: 0%;
    border-right: 0px solid rgb(234, 81, 65);
}
}

/* webperformance page */
.webperformancebutton {
  color:#F9FAFA;
  background-color:rgb(234, 81, 65);
  border:1px solid transparent;
  width: 130px;
  padding:8px;
  height: 45px;
 
}
.webperformancebutton:focus {
  outline: none;
}
.webperformancebutton:hover {
    background-color:white;
    color: rgb(234, 81, 65);
    width: 130px;
    border:1px solid rgb(234, 81, 65);
    border-radius: 0px;
    
}

/* webperformance page  loader*/

.loaderwebperformancecheck {
    z-index: 19999;
    position: fixed;
    width:100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(234, 81, 65);

}

.testing {
  color: rgb(35, 61, 77);
  color: rgb(255, 0, 0);
  color: rgb(0, 104, 74 0.5);
}


