.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y:auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #F9FAFA;
}

.App::-webkit-scrollbar {
  width: 4px;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.App::-webkit-scrollbar-track {
  background-color: #F9FAFA;
}

.App::-webkit-scrollbar-thumb {
  background-color: #888;
}




